*{
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Anta",sans-serif;
}
.h1{
    margin: 10px;
}
nav{
    background-color: rgb(233, 240, 241);
    box-shadow: 13px 13px 15px rgba(63, 39, 3, 0.1);
    
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: rgb(239, 121, 125);
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 9990;
    background-color:rgba(255, 255, 255, 0.181);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1) ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
    
}
.sidebar a{
    width:100%
}
.menu-button{
    display:none;
}
@media(max-width:800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display:block;
    }
    
}
@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}

/*Slider Section*/
.hero{
    position: relative;
    height: 600px;
    overflow: hidden;
} /*
.hero-image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}*/
.hero {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.hero-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-images img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-images img.active {
    opacity: 1;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #bcbbc0;
    z-index: 1;
    opacity: 0;
    animation: fadeInUp 2s forwards;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
    .hero-content {
        color: #000; /* Dark text color for better contrast on lighter backgrounds */
    }
}

@keyframes fadeInUp {
    from {
        transform: translate(-50%, -70%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}


/*
.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}*/
.hero-content h1{
    font-family: "Anta",sans-serif;
    font-size: 4rem;
}
.hero-content p{
    font-family: "Anta",sans-serif;
    font-size: 1.8rem;
    margin-top: -20px;
    margin-bottom: 10px;
}
.hero-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #e6930c;
    padding: 12px 30px;
    border-radius: 50px;
    font-family: "Anta",sans-serif;
    font-size: 1.6rem;
    transition: all ease 0.3s;
}
.hero-button:hover{
    background-color: #333;
}
.destinations{
    font-size: 2.4rem;
    font-family: "Anta",sans-serif;
    margin: 40px 80px;
    text-align: center;
}
.destinations h2{
    margin-bottom: 40px;
}
.destination-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.destination-item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.destination-item{
    text-align: left;
}
.destination-item h3{
    font-size: 2rem;
}
.destination-item p{
    font-size: 1.4rem;
    line-height: 1;
    font-family: "Anta",sans-serif;
}
.about{
    text-align: center;
    padding: 100px;
}
.about h3{
    font-family: "Anta",sans-serif;
   font-size: 3rem;
}
.about p{
    font-family: "Anta",sans-serif;
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 40px;
}
.team-members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-member img{
    width: 300px;
    height: 300px;
    margin: 20px;
    object-fit: cover;
}
.team-member h4{
    font-family: "Anta",sans-serif;
    font-size: 2rem;
}
.contact{
    padding: 80px;
    text-align: center;
    background-color: #F7F7F7;
}
.contact h3{
    font-family: "Anta",sans-serif;
    font-size: 3rem;
}
.contact-info p{
    font-family: "Anta",sans-serif;
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.contact-info ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
} 
.contact-info li{
    margin: 0 20px;
    font-family: "Anta",sans-serif;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
  
}
.contact-info li a{
    text-decoration: none;
    font-family: "Anta",sans-serif;
    color: black;
}
.contact-info i{
    font-size: 24px;
    margin-right: 10px;
}
.form{
    width: 100%;
}
input,textarea{
    width: 70%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0, 0.1);
    border-radius: 5px;
    font-size: 1.4rem;
    font-family: "Anta",sans-serif;
}
textarea{
    height: 200px;
}
.form button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #ff7f50;
    padding: 12px 30px;
    border-radius: 50px;
    font-family: "Anta",sans-serif;
    font-size: 1.6rem;
    border: none;
    transition: all ease 0.3s;
}
.form button:hover{
    background-color: #333;
}

.about p{
    font-family: "Anta",sans-serif;
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 40px;
}
.team-members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-member img{
    width: 300px;
    height: 300px;
    margin: 20px;
    object-fit: cover;
}
.team-member h4{
    font-family: "Anta",sans-serif;
    font-size: 2rem;
}
.contact{
    padding: 80px;
    text-align: center;
    background-color: #F7F7F7;
}
.contact h3{
    font-family: "Anta",sans-serif;
    font-size: 3rem;
}
.contact-info p{
    font-family: "Anta",sans-serif;
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.contact-info ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
} 
.contact-info li{
    margin: 0 20px;
    font-family: "Anta",sans-serif;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
  
}
.contact-info li a{
    text-decoration: none;
    font-family: "Anta",sans-serif;
    color: black;
}
.contact-info i{
    font-size: 24px;
    margin-right: 10px;
}
.form{
    width: 100%;
}
input,textarea{
    width: 70%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0, 0.1);
    border-radius: 5px;
    font-size: 1.4rem;
    font-family: "Anta",sans-serif;
}
textarea{
    height: 200px;
}
.form button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #ff7f50;
    padding: 12px 30px;
    border-radius: 50px;
    font-family: "Anta",sans-serif;
    font-size: 1.6rem;
    border: none;
    transition: all ease 0.3s;
}
.form button:hover{
    background-color: #333;
}
@media (max-width: 1177px) {
    .hero-content h1{
        line-height: 0.7;
    }
    .hero-content p{
        margin-top: 0;
        line-height: 0.8;
    }
    .destinations img{
        height: 250px;
    }
    input, textarea{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .hero-content h1{
        margin-bottom: 5px;
    }
    .team-member img{
        width: 200px;
        height: 200px;
    }
    .destination-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
}
@media (max-width:603px){
    .hero-content h1{
        font-size: 2rem;
    }
    .hero-content p{
        font-size: 1.5rem;
    }
}
@media (max-width:430px){
    header{
        display: none;
    }
    .hero-content h1{
        font-size: 1.3rem;
    }
    .hero-content p{
        font-size: 1rem;
    }
    .hero-button{
        padding: 6px 22px;
        font-size: 16px;
    }
    .destinations{
        font-size: 1.5rem;
    }
    .destination-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
    }
    .about{
        padding: 0 30px;
    }
    .team-member img{
        width: 250px;
        height: 250px;
    }
}
  


/* Contact us section */
.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info{
  color: #5411e6;
  max-width: 500px;
  line-height: 65px;
  padding-right: 0px;
  font-size: 18px;  
}
.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}
.contact-form{
    max-width: 700px;
    margin-right: 50px;
}
.contact-info .contact-form{
    flex: 1;
}
.contact-form h2{
    color:#0b0101;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;

}
.contact-form .text-box{
    background: #000;
    color: #cfeaf8;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(82, 3, 3, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .text-box:first-child{
    margin-right: 15px;

}
.contact-form textarea{
    background: #000;
    color: #3c0d0d;
    border: none;
    width: 100%;
    height: 50px;
    padding: 12px;
    font-size: 15px;
    min-width: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
/* Footer Section */
.footer_section{
    background-color: #040221;
    color: #fff;
    padding: 20px;
    text-align:center;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
}

.footer_section p {
    color: #ffffff;
    padding: 25px 0;
    margin: 0,0;
}
.footer_section p a {
    color: inherit;
  }